@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    padding: 0;
    margin: 0;
}

.skills_section {
    text-align: center;
    padding: 50px 0;
}

.skills_head h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.skills_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill_logo {
    flex: 1 1 150px;
    max-width: 150px;
    text-align: center;
}

.skill_logo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.skill_logo .logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.skill_logo p {
    font-size: 1rem;
    margin-top: 5px;
}
